---
const posts = await Astro.glob('../../posts/*.mdx')
export async function getStaticPaths() {
  const test = await Astro.glob('../../posts/*.mdx')
  return test.map((e:any) => ({
        params: {
            archive: e.upload_date.split(",")[1].trim().replace(/[ ]/g, '_')
        }
    }))}

import Layout from "../../components/Layout.astro";
import ListCard from "../../components/ListCard.astro";

const {archive} = Astro.params
const arr = posts.filter((e:any) => e.upload_date.split(',')[1].trim() === archive).sort((a:any, b:any) => a.frontmatter.id - b.frontmatter.id)
---
<Layout  title={`Post in archive ${archive}`} sub="Best article posts in archive" thumb="/favicon.png">
    <h1 class="text-2xl bg-info p-2">All {archive} Post</h1>
  <ListCard posts={arr} e={false} content="main" />
</Layout>
