---
import { getPosts } from "../../lib/lib.astro";
export async function getStaticPaths() {
  const arr = getPosts('tags')
  return arr
}

import Layout from "../../layouts/Layout.astro";
import ListCard from "../../components/ListCard.astro";

const {posts} = Astro.props
const {tags} = Astro.params
const arr = posts.filter((e:any) => e.tags.split(',').includes(tags.replace('_', ' '))).sort((a:any, b:any) => a.frontmatter.id - b.frontmatter.id)
---
<Layout title={`Post in tags ${tags}`} sub="Best article posts in tags" thumb="/favicon.png">
  <h1 class="text-2xl bg-info p-2">All {tags.replace('_', ' ')} Post</h1>
  <ListCard posts={arr} e={false} content='main' />
</Layout>
